*{
    box-sizing: border-box;
}

body{
    background-color: azure;
    margin: 0;
    padding: 0;
    
    /* color: rgb(27, 26, 25); */
}

#display{
    height: 60px;
    background-color: rgb(178, 178, 199);

}

#display{grid-area: display;}
#btn_dot{grid-area: dot;}
#btn_zero{grid-area: zero;}
#btn_one{grid-area: one;}
#btn_two{grid-area: two;}
#btn_three{grid-area: three;}
#btn_four{grid-area: four;}
#btn_five{grid-area: five;}
#btn_six{grid-area: six;}
#btn_seven{grid-area: seven;}
#btn_eight{grid-area: eight;}
#btn_nine{grid-area: nine;}
#btn_minus{grid-area: minus;}
#btn_plus{grid-area: plus;}
#btn_divide{grid-area: divide;}
#btn_multiply{grid-area: multiply;}
#btn_equals{grid-area: equals;}
#btn_cancel{grid-area: cancel;}
#btn_delete{grid-area: del;}

.calculator{
    width: 200px;
    height: 300px;
    margin: auto;
    display: grid;
    grid-template-areas: 
    'display display display display'
    'one two three cancel '
    'four five six divide ' 
    'seven eight nine multiply'
    'del zero plus minus'
    'del dot plus equals'
    ;
}